.keypad {
  flex: 1.3;
  background-color: #f9f9f9;
  padding: 20px;
  display: flex;
}
.clear_key {
  margin: auto;
}
.keypad p {
  line-height: 1.875rem;
  font-size: 1.6rem;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 200ms;
  user-select: none;
  cursor: pointer;
  color: #636363;
}

.keypad_keys {
  flex: 3;
  display: flex;
  flex-wrap: wrap;
}

.keypad_keys p {
  width: 33%;
  height: 20%;
}

.keypad_symbols {
  flex: 1;
}

.keypad_symbols p {
  color: #89a5f1;
  width: 100%;
  height: 20%;
}
